/*すべてのページに適応される設定*/
@charset "utf-8";
html{font-size: 16px;
   font-family: sans-serif;}
p,li,td{line-height: 1.7;}
body{margin: 0 0 0 0 ;}

*{box-sizing: border-box;}

@media(max-width:800px){}

/*ヘッダー*/
.nav ul{
   margin:0 0 0 0;
   padding-top: 10px;
   background-color: rgba(230, 192, 144, 0.781);
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 40px;
}
/*ヒーロー*/
.hero{background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   text-align: center;}

.hero.index{margin: 0 0 0 0;
   padding: 287px;
   background-image: url(木の机とノート.jpg)

/*メイン*/

.main{background-color: rgb(234, 220, 203);
      background-size: cover;
      text-align: center;
      margin: 0 0 0 0;
      padding-top: 20px;
      padding-bottom: 20px;}

.mains{background-color: rgb(234, 220, 203);
      text-align: center;
      margin: 0 0 0 0;
      padding-top: 20px;
      padding-bottom: 20px;
      }
p {color:rgb(118, 105, 105) (210, 206, 208);}
h1{color:rgb(128, 111, 90);}



.main2{text-align: center;
      margin: 0 0 0 0;
      padding-bottom: 20px;
      padding-top: 20px;
      background-color: rgb(220, 204, 183);}


.items{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}
.item{
   background-size: auto;
   margin-top: 30px;
   padding-bottom: 40px;

}
   
.main3{text-align: center;
      margin: 0 auto;
      padding: 10px;
     background-color: rgb(238, 222, 200);
      color: rgb(0, 0, 0)}


.main4{background-size: cover;
      background-color: burlywood;}

/*フッタ―*/
footer{text-align:center ;
      background-color: blanchedalmond;}
.copyright{margin-top: 20px;
           margin-bottom: 0px;
           color: burlywood;
           }
/*個別のスタイル*/

/*index.html*/
.items{text-align: center;}


