/*すべてのページに適応される設定*/
@charset "utf-8";
html{font-size: 18px;
font-family: sans-serif;
background-color: rgb(246, 245, 234);
p,li,td{line-height: 1.7;}
body{margin: 0 0 0 0 ;}

*{box-sizing: border-box;}

.logo{background-color: rgb(255, 255, 255);
     margin-top: 0px;}

/*ヘッダー*/
.nav ul{
    margin: 0 0 0 0;
   color: rgb(68, 38, 22);
   background-color: rgb(154, 146, 93, 0.75);
   font-size: 20px;
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 40px;
}

/*ヒーロー*/
.hero{background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   text-align: center;}

.hero.index{margin: 0 0 0 0;
   padding: 287px;
   color: rgb(68, 38, 22);
   font-family: serif;
   font-size: 50px;
   background-image: url(note.jpg);
   }

.typingText{
      font-size: 30px;
      color:rgb(77, 56, 30); 
      text-align: center;}

.typingText::after{
      content: '|';
      color: rgb(118, 105, 105);
      animation: blink 1s infinite;
}

@keyframes blink{
      0%,100%{opacity: 1;}
      50%{opacity: 0;}
}
   
/*メイン*/


.main{background: linear-gradient(rgb(246, 245, 234), rgba(154, 146, 93, 0.808));
      background-size: cover;
      color: rgb(68, 38, 22);
      text-align: center;
      margin: 0 0 0 0;
      padding-top: 40px;
      padding-bottom: 40px;
　　　}

.fade-box{
      text-align: center;
      font-size: 20px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 3s ;
      transform: translateY(100px);
　　　}

.fade-box.is-active {
  /*要素を表示させる*/
  opacity: 1;
  visibility: visible;
  /*元の位置に戻す*/
  transform: translateY(0);
}


.main2{text-align: center;
      color: rgb(68, 38, 22);
      margin: 0 0 0 0;
      padding-bottom: 40px;
      padding-top: 40px;
      background-color: rgb(246, 245, 234);}
      
   

.items {
   text-align: center;
   color: rgb(68, 38, 22);
   margin-top: 40px;
   margin-bottom: 40px;
   background-color: rgba(154, 146, 93, 0.726);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}

.item{
   background-size: auto;
   margin-top: 50px;
   margin-bottom: 50px;
}

.kirikae-img{ border-radius: 5px;}

.item-link{
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgb(68, 38, 22,0.808);
      color: rgb(246, 245, 234);
      font-family: serif;
      cursor: pointer;
      }

.img01{margin-top: 120px;
 margin-left: 20px;
 margin-bottom: 20px;
 border-radius: 5px;}

 .write{text-align: left;
}


.img02{
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 5px;}

.gift{text-align: right;}

.img02.displayed{
  animation-delay: 0.3s;
}
.displayed{
  animation: fadeUp 1s forwards;
}

@keyframes fadeUp{
  0%{opacity:0; transform: translateY(0);}
100%{opacity:1; transform: translateY(-100px);}
}

.main22{text-align: center;
      color: rgb(68, 38, 22);
      font-size: 20px;
      margin: 0 0 0 0;
      padding-bottom: 30px;
      padding-top: 0px;
      background-color: rgb(246, 245, 234);}


.main3{
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      background-color: rgba(154, 146, 93, 0.74);
      color: rgb(68, 38, 22);}

.title{font-family: serif;}

select {text-align: center;
      width: 300px;
      padding: 10px;
      margin-bottom: 20px; }

input[type="text"]{
      width: 300px;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      background-color: rgb(246, 245, 234);
      color: rgb(68, 38, 22);
}

button {
      width: 400px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgb(68, 38, 22);
      color: rgb(246, 245, 234);}
      font-size: 25px;
      cursor: pointer;
      }

.main4{background-size: cover;
       color: rgb(68, 38, 22);
      background-color: rgb(154, 146, 93, 0.8);
      }

table{color: rgb(68, 38, 22);
      padding: 20px;}

/*フッタ―*/
footer{text-align:center ;
      color: rgb(241, 231, 219);
      background-size: cover;
      padding-top: 10px;
      padding-bottom: 20px;
      background-color: rgb(68, 38, 22);}

           
/*個別のスタイル*/

/*index.html*/
.items{text-align: center;}

@media(max-width:800px){
   .nav ul{
      flex-wrap: wrap;
      font-size: 15px;
      gap: 20px;
   }
     
   .logo{
      text-align: center;
      margin: 0 auto;}
   
   .hero.index{padding: 150px 20px;
              font-size:25px;}
    
   .typingText{font-size: 15px;}
    
   .main{background-size: cover;
         font-size: 15px;}
   .main2{background-size: cover;}

   .fade-box{font-size: 15px;}

  .items{
   font-size: 15px;
   grid-template-columns: 1fr;}
   
.kirikae-img{width: 300px ;
            height: 200px;}


.write{text-align: left;}

.scroll-in{width: 300px ;
            height: 200px;}

.gift{text-align: right;}

button{width: 300px;
       font-size:18px;}
   
table{ font-size: 12px;
      padding: 0 0 0 0;}
}


